//VARIABLES
//Colors
$colorWhite: #FFF;
$colorCharcoal: #2B2B2B;
$colorGold: #F5A623;
$colorRed: #FF0000;

//Fonts
$fontFamily: "Program OT", Arial, sans-serif;
$fontSize: 16px;
$fontWeight: normal;

//Element Styles
