//PLACEHOLDERS
%background-colorWhite{
  background-color: $colorWhite;
}

%background-colorCharcoal{
  background: $colorCharcoal;
}

%center-element{
  margin-left: auto;
  margin-right: auto;
}

%center-text{
  text-align: center;
}

%full-width{
  width: 100%;
}

%inline-block{
  display: inline-block;
}

%cursor-pointer{
  cursor: pointer;
}

%fontWeight-bold{
  font-weight: bold;
}

%opacityZero{
  opacity: 0;
};
